body {
    font-family:'Arial';
    background-color: white;
}
h1 {
    text-align: center;
    border: 10px solid green;
    width: 200px;
    color: red;
    margin: auto;
}
p {
    border: 3px solid black;
    width: 50%;
    color: black;
    margin: auto;
    text-align: center;
    height: 50%;
}
input {
    border: 3px solid blue;
    width: 50%
    color: black;
    margin: auto;
}
button {
    background-color: blue;
    color: white;
    margin-right: auto;
}
